.ewpci-phone-call-icon {
    position: fixed;
    z-index: 9999;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

.ewpci-phone-call-icon .dashicons-phone::before {
    font-size: 30px; 
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #25D366; 
}

