.ewpci-whatsapp-icon {
    position: fixed;
    z-index: 9999;
    bottom: 30px;
    right: 60px;
    cursor: pointer;
}

.ewpci-whatsapp-icon .dashicons-whatsapp::before {
    font-size: 30px; 
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #25D366; 
}